// ANIMATION HEADER

@keyframes moveToRight {
  0% {
    opacity: 0;
    transform: translateX(-40rem);
  }
  90% {
    opacity: 0.5;
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveToLeft {
  0% {
    opacity: 0;
    transform: translateX(40rem);
  }
  90% {
    opacity: 0.5;
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
