// COLORS
$color-dark: #17252a;

$color-primary-dark-1: #3aafa9;
$color-primary-dark-2: #2b7a78;

$color-primary-light-2: #def2f1;
$color-primary-light-1: #feffff;

// FONTS  Kaushan cursive, Nunito italian,300,400,700
$font-display: "Kaushan Script", cursive, sans-serif;
$font-primary: "Nunito", sans-seri; //MARGIN-BOTTOM
.mb-sm {
  margin-bottom: 2rem;
}
.mb-md {
  margin-bottom: 4rem;
}
.mb-lg {
  margin-bottom: 6rem;
}

//UPPERCASE
.text-upcase {
  text-transform: uppercase;
}

.is_blured {
  filter: blur(2px) brightness(0.4);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px
}
body {
  font-family: $font-primary;
  color: $color-primary-light-2;
  font-weight: 300;
  line-height: 1.6;
  background-color: $color-primary-dark-1;
}

.container {
  display: grid;
  // grid-template-rows: repeat(5, auto);
  padding: 0 5rem;
}
