// COLORS
$color-dark: #17252a;

$color-primary-dark-1: #587b7f;
$color-primary-dark-2: #393e41;

$color-primary-light-2: #d3d0cb;
$color-primary-light-1: #feffff;

$color-grey: rgb(122, 115, 115);

//BACKGROUND
.bg-main {
  background-image: radial-gradient(
    $color-primary-dark-1,
    $color-primary-dark-2
  );
}

// FONTS  Kaushan cursive, Nunito italian,300,400,700
$font-display: 'Kaushan Script', cursive, sans-serif;
$font-primary: 'Nunito', sans-seri; //MARGIN-BOTTOM
.mb-sm {
  margin-bottom: 2rem;
}
.mb-md {
  margin-bottom: 4rem;
}
.mb-lg {
  margin-bottom: 6rem;
}

//UPPERCASE
.text-upcase {
  text-transform: uppercase;
}

// BLURING ALL COMPONENTS THROUGH COMPONENT STATE
// PASSING PROPS TO ALL COMPONENTS
.is_blured {
  filter: blur(2px) brightness(0.4);
}

//BOX-SHADOW
.box-shadow {
  -webkit-box-shadow: 0px 7px 29px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 7px 29px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 7px 29px -8px rgba(0, 0, 0, 0.75);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px
}
body {
  font-family: $font-primary;
  color: $color-primary-light-2;
  font-weight: 300;
  line-height: 1.6;
  background-image: radial-gradient(
    $color-primary-dark-1,
    $color-primary-dark-2
  );
}

.container {
  display: grid;
  grid-template-columns: minmax(35rem, 1fr);
  // grid-template-columns: 1fr;
  overflow: hidden;
  padding: 0 5rem;

  @media only screen and (max-width: 35.25em) {
    padding: 0;
  }
}
