// COLORS
$color-dark: #17252a;

$color-primary-dark-1: #3aafa9;
$color-primary-dark-2: #2b7a78;

$color-primary-light-2: #def2f1;
$color-primary-light-1: #feffff;

// FONTS  Kaushan cursive, Nunito italian,300,400,700
$font-display: "Kaushan Script", cursive, sans-serif;
$font-primary: "Nunito", sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px
}
body {
  font-family: $font-primary;
  color: $color-dark;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: grid;
  grid-template-rows: 70vh repeat(3, 25vh) 15vh;
}
