.contact {
  background-color: inherit;
  text-align: center;
  padding: 6rem 0 15rem 0;
  font-weight: 300;
  @media only screen and (max-width: 35.25em) {
    padding: 0;
  }

  // RIGHT SIDE
  &__form-container {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  }

  &__form {
    display: grid;

    &-group {
      display: flex;
      flex-direction: column;
      width: 70%;
      justify-self: center; //grid
      @media only screen and (max-width: 35.25em) {
        width: 90%;
      }
    }

    &-label {
      font-size: 1.7rem;
      font-weight: 700;
      margin-bottom: 0.2rem;
      align-self: flex-start;
    }

    &-input {
      background-color: #d3d0cb;
      padding: 1rem 2rem;
      justify-self: center;
      border-radius: 3px;
      border: none;
      margin-bottom: 1rem;
      z-index: 100; //colides with moving animation
      color: rgb(122, 115, 115);
      font-family: 'Nunito', sans-seri;
      outline: none;
      //message email success
      &--message {
        color: #def2f1;
        font-size: 1.6rem;
      }
      //error email not sent
      &--error {
        color: #eb2752;
        font-size: 1.6rem;
        display: inline-block;
        padding: 1rem 2rem;
      }

      //Validation
      &:focus:invalid {
        border-bottom: 5px solid red;
      }
      &:focus:valid {
        border-bottom: 5px solid green;
      }
    }
    &-input--submit {
      padding: 1rem 0;
      width: 20%;
      justify-self: center;
      border-radius: 3px;
      border: none;
      margin-top: 1rem;
      transition: all 0.2s;
      border: 1px solid transparent;
      text-transform: uppercase;
      &:focus {
        outline: none;
      }

      &:hover {
        background-color: #393e41;
        color: #d3d0cb;
        border: 1px solid currentColor;
      }
    }
  }
  ///////////////////////////////////////////////////

  //  LEFT SIDE

  &__block {
    ///Links Facebook & Github
    &--link {
      text-decoration: none;
      color: #d3d0cb;
    }

    padding: 0 4rem;

    &-list {
      list-style: none;
      font-size: 1.6rem;
      // background-color: red;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 50%;
      margin: 0 auto;
    }
    &-text {
      font-size: 2rem;
      text-align: left;
    }

    &-item {
      display: flex;
      align-items: flex-start;
      margin-bottom: 3rem;
    }

    &-icon {
      &--phone {
        width: 3rem;
        height: 3rem;
        fill: currentColor;
        margin-right: 1rem;
        align-self: center;
        transition: 0.2s linear 0.2s; //scale-up icon on hover
        &:hover {
          transform: scale(1.2);
        }
        &:hover + ::after {
          transform: translateX(-10rem);
          opacity: 1;
        }
      }

      &--email {
        width: 3rem;
        height: 3rem;
        fill: currentColor;
        margin-right: 1rem;
        align-self: center;
        transition: 0.2s linear 0.2s; //scale-up icon on hover
        &:hover {
          transform: scale(1.2);
        }
        &:hover + ::after {
          transform: translateX(-15.5rem);
          opacity: 1;
        }
      }
      &--facebook {
        width: 3rem;
        height: 3rem;
        fill: currentColor;
        margin-right: 1rem;
        align-self: center;
        transition: 0.2s linear 0.2s; //scale-up icon on hover
        &:hover {
          transform: scale(1.2);
        }
        &:hover + ::after {
          transform: translateX(-9.5rem);
          opacity: 1;
        }
      }
      &--github {
        width: 3rem;
        height: 3rem;
        fill: currentColor;
        margin-right: 1rem;
        align-self: center;
        transition: 0.2s linear 0.2s; //scale-up icon on hover
        &:hover {
          transform: scale(1.2);
        }
        &:hover + ::after {
          transform: translateX(-7.5rem);
          opacity: 1;
        }
      }
    }
    // AFTER

    &--phone {
      position: relative;
      transition: 0.2s linear 0.2s;

      &::after {
        //white border_bottom
        content: '';
        display: inline-block;
        position: absolute;
        transform: translateX(0);
        width: 10rem;
        // background-color: #2b7a78;
        border-bottom: 2px solid #def2f1;
        opacity: 0;
        height: 2rem;
        transition: 0.5s;
        top: 1rem;
      }
    }
    &--email {
      position: relative;
      transition: 0.2s linear 0.2s;

      &::after {
        //white border_bottom
        content: '';
        display: inline-block;
        position: absolute;
        transform: translateX(0);
        width: 15rem;
        // background-color: #2b7a78;
        border-bottom: 2px solid #def2f1;
        opacity: 0;
        height: 2rem;
        transition: 0.5s;
        top: 1rem;
      }
    }
    &--facebook {
      position: relative;
      transition: 0.2s linear 0.2s;

      &::after {
        //white border_bottom
        content: '';
        display: inline-block;
        position: absolute;
        transform: translateX(0);
        width: 10rem;
        // background-color: #2b7a78;
        border-bottom: 2px solid #def2f1;
        opacity: 0;
        height: 2rem;
        transition: 0.5s;
        top: 1rem;
      }
    }
    &--github {
      position: relative;
      transition: 0.2s linear 0.2s;

      &::after {
        //white border_bottom
        content: '';
        display: inline-block;
        position: absolute;
        transform: translateX(0);
        width: 8rem;
        // background-color: #2b7a78;
        border-bottom: 2px solid #def2f1;
        opacity: 0;
        height: 2rem;
        transition: 0.5s;
        top: 1rem;
      }
    }
  }
}
