.header {
  background-image: linear-gradient(
      45deg,
      rgba($color-primary-dark-2, 1) 10%,
      rgba($color-primary-dark-2, 0.6) 10%,
      rgba($color-primary-dark-2, 0.6) 90%,
      rgba($color-primary-dark-2, 1) 10%
    ),
    url(../img/background-hero.jpg);
  background-position: center;
  background-size: 100% 100%;

  height: 100%;
  // background-size: cover;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  position: relative;
  padding: 10rem 20rem;
  @media only screen and (max-width: 35.25em) {
    padding: 0;
  }

  &__bio {
    padding: 8rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 56.25em) {
      padding: 1rem;
    }

    &-head {
      display: flex;
      align-items: baseline;
    }

    &-title {
      font-size: 4rem;
      font-family: $font-display;
    }
    &-article {
      padding: 0rem;
      font-size: 2.2rem;
      margin-left: 2rem;
      border-top: 4px solid $color-primary-light-2;
      font-family: italic;
      text-shadow: 3px -1px 14px rgba(0, 0, 0, 1);
    }
    &-image-box {
      width: 15rem;
      @media only screen and (max-width: 56.25em) {
        display: none;
      }
    }
    &-image {
      width: 100%;
      margin-bottom: -2rem;
      margin-left: 3rem;
    }
  }

  &__hero {
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2rem;

    &-img-box {
      width: 31rem;
      border-radius: 50px;
      position: relative;
      //Createing frame for image-rendering;

      &::after {
        content: '';
        position: absolute;
        display: block;
        width: 21rem;
        height: 21rem;
        border-radius: 50%;
        border: 4px solid currentColor;

        top: -50%;
        left: 50%;
        transform: translate(-50%, 50%);
      }
    }
    &-img {
      width: 100%;
      height: 100%;
      clip-path: circle(40%);
    }

    &__name {
      font-family: $font-display;
      animation-name: moveToRight;
      animation-duration: 1s;
      text-shadow: 3px -1px 14px rgba(0, 0, 0, 1);
    }
    &__prof {
      font-family: $font-display;
      animation-name: moveToLeft;
      animation-duration: 1s;
      color: #feffffe3;
      text-shadow: 3px -1px 14px rgba(0, 0, 0, 1);
    }

    &__moto {
      font-size: 2rem;
      &--exclamation {
        color: $color-primary-light-1;
        font-size: 3rem;
        font-weight: 700;
        text-shadow: 3px -1px 14px rgba(0, 0, 0, 1);
      }
    }
    &__moto-box {
      text-align: left;
    }
  }
}
