.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    border: 1px solid black;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    left: 6rem;
    border-radius: 50%;
    z-index: 2000;
    text-align: center;
  }

  &__background {
    background-color: $color-primary-dark-1;
    height: 6rem;
    width: 6rem;
    top: 6.5rem;
    left: 6.5rem;
    position: fixed;
    z-index: 1000;
    box-shadow: 0 1rem 3rem rgba($color-dark, 0.5);
  }

  &__nav {
    height: 100vh;
    position: fixed;
    z-index: 1500;
    border: 1px solid black;
    top: 0rem;
    width: 15%;
    background-color: $color-primary-dark-2;
  }

  &__list {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    list-style: none;
    // border: 1px solid black;
  }
  &__item {
    margin: 2rem 0;
  }

  &__link,
  &:visited {
    font-size: 1.6rem;
    text-decoration: none;
    font-weight: 700;
    // border: 1px solid black;
    display: inline-block;
    padding: 1rem 3rem;
    width: 100%;
    color: $color-primary-light-1;
    text-align: center;
    text-transform: uppercase;
    background-image: linear-gradient(
      120deg,
      rgba($color-primary-dark-1, 1) 50%,
      rgba($color-primary-dark-2, 1) 0%,
      rgba($color-primary-dark-2, 1) 0%
    );
    background-size: 220%;
    transition: all 0.3s;
    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary-light-1;
    }
  }
}
