.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 3rem;
    right: 3rem;
    border-radius: 50%;
    z-index: 2000;
    text-align: center;
    transition: all 0.2s;
    @media only screen and (max-width: 56.25em) {
      top: 1rem;
      right: 1rem;
    }
  }

  &__nav {
    height: 100vh;
    position: fixed;
    z-index: 1500;
    // border: 1px solid black;
    top: 0rem;
    width: 0;
    opacity: 0;
    background-color: $color-primary-dark-2;
    transition: all 0.3s;
  }

  &__list {
    position: absolute;
    top: 20%;
    left: 0;
    width: 90%;
    list-style: none;
    // border: 1px solid black;
  }
  &__item {
    margin: 2rem 0;
  }

  &__link,
  &:visited {
    font-size: 1.6rem;
    text-decoration: none;
    font-weight: 700;
    // border: 1px solid black;
    display: inline-block;

    padding: 1rem 3rem;
    width: 100%;
    color: $color-dark;
    text-align: center;
    text-transform: uppercase;
    border-radius: 3px;
    background-image: linear-gradient(
      120deg,
      rgba($color-primary-dark-1, 1) 50%,
      rgba($color-primary-dark-2, 1) 0%,
      rgba($color-primary-dark-2, 1) 0%
    );
    background-size: 220%;
    transition: all 0.3s;
    &:hover {
      background-position: 100%;
      color: $color-primary-light-2;
      border-radius: 3px;
    }
    &:active {
      color: red;
    }
  }
  &__icon {
    position: relative;
    margin-top: 3.5rem;
    &,
    &::before,
    &::after {
      content: '';
      width: 3rem;
      height: 4px;
      background-color: $color-primary-light-2;
      display: inline-block;
      transition: all 0.2s;
    }
    &::before,
    &::after {
      position: absolute;
      left: 0;
    }
    &::before {
      top: -1rem;
    }
    &::after {
      top: 1rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1.2rem;
  }
  &__button:hover &__icon::after {
    top: 1.2rem;
  }

  // ON CLICK CHECKBOX

  &__checkbox:checked ~ &__nav {
    width: 40%;
    opacity: 1;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }
  &__checkbox:checked + &__button &__icon::before {
    transform: rotate(135deg);
    top: 0;
  }
  &__checkbox:checked + &__button &__icon::after {
    transform: rotate(-135deg);
    top: 0;
  }
}
