.project {
  background-color: inherit;
  text-align: center;
  padding: 6rem 0 15rem 0;
  font-weight: 300;

  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    grid-gap: 3rem;
  }
  &__item {
    padding: 3rem 4rem;
    border-radius: 3px;
    border: 1px solid $color-primary-light-1;
    min-height: 40rem;
    background-color: $color-primary-dark-2;
    @media only screen and (max-width: 35.25em) {
      border: none;
      // border-bottom: 1px solid $color-primary-light-1;
      // border-top: 1px solid $color-primary-light-1;
    }
  }
  &__card-title {
    font-size: 2rem;
  }

  &__image-box {
    width: 6rem;
    height: 6rem;
    float: left;
    margin-right: 1.5rem;
  }
  &__image {
    width: 100%;
    border-radius: 3px;
  }
  &__link:link,
  &__link:visited {
    font-size: 2rem;
    color: $color-primary-light-1;
    // text-decoration: none;
    text-transform: uppercase;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
  }
  &__link:hover {
    color: white;

    display: inline-block;
    text-decoration: none;
  }

  &__card-article {
    font-size: 1.5rem;
    text-align: left;
  }
}
