.heading-1 {
  font-size: 3rem;
  font-weight: 300;
  &__text {
    &--light {
      color: $color-primary-light-2;
    }
    &--dark {
      color: $color-dark;
    }
  }
}
.heading-3 {
  font-size: 2rem;
  &__text {
    &--light {
      color: $color-primary-light-2;
    }
    &--dark {
      color: $color-dark;
    }
  }
}
